USE [QL_SHOPQA]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[MANH] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CTNH] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](5) NOT NULL,
	[NGAYLAPHD] [date] NULL,
	[MAKH] [char](5) NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [varchar](30) NULL,
	[GTINH] [nvarchar](5) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SDT] [nchar](11) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LA] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACC] [char](5) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DCHI] [nvarchar](100) NULL,
	[SDT] [nchar](11) NULL,
 CONSTRAINT [PK_NC] PRIMARY KEY CLUSTERED 
(
	[MACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[GTINH] [nvarchar](5) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SDT] [nchar](11) NULL,
	[USERNAME] [char](50) NULL,
	[PASSW] [char](50) NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANH] [char](5) NOT NULL,
	[MACC] [char](5) NULL,
	[NGAYNHAP] [date] NULL,
 CONSTRAINT [PK_NH] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[IDQUYEN] [char](5) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
	[LOAIQUYEN] [nvarchar](30) NULL,
	[MANV] [char](5) NULL,
 CONSTRAINT [PK_DN] PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/30/2022 8:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](5) NOT NULL,
	[MALOAI] [char](5) NOT NULL,
	[MACC] [char](5) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIABAN] [float] NULL,
	[SIZE] [int] NULL,
	[CHATLIEU] [nvarchar](30) NULL,
	[MAUSAC] [nvarchar](10) NULL,
	[SOLUONGTON] [int] NULL,
	[MOTASP] [nvarchar](100) NULL,
	[HINH] [image] NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TONGTIEN]) VALUES (N'393  ', N'SP001', 2, 10000, 20000)
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TONGTIEN]) VALUES (N'393  ', N'SP002', 3, 50000, 150000)
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SOLUONG], [GIABAN], [TONGTIEN]) VALUES (N'682  ', N'SP001', 3, 30000, 90000)
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [MAKH], [MANV]) VALUES (N'18   ', CAST(N'2022-05-30' AS Date), N'KH000', N'NV000')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [MAKH], [MANV]) VALUES (N'393  ', CAST(N'2022-05-30' AS Date), N'KH000', N'NV000')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAPHD], [MAKH], [MANV]) VALUES (N'524  ', CAST(N'2022-05-30' AS Date), N'KH000', N'NV76 ')
GO
INSERT [dbo].[KHACH] ([MAKH], [TENKH], [NGAYSINH], [EMAIL], [GTINH], [DCHI], [SDT]) VALUES (N'KH000', N'Khách mới', CAST(N'2000-01-01' AS Date), NULL, N'---', NULL, NULL)
INSERT [dbo].[KHACH] ([MAKH], [TENKH], [NGAYSINH], [EMAIL], [GTINH], [DCHI], [SDT]) VALUES (N'KH01 ', N'Nguyễn Thành Trung', CAST(N'1998-09-12' AS Date), N'thanhtrung@gmail.com', N'Nam', N'28 Sơn Kỳ, Q.Tân Phú', N'0987643245 ')
INSERT [dbo].[KHACH] ([MAKH], [TENKH], [NGAYSINH], [EMAIL], [GTINH], [DCHI], [SDT]) VALUES (N'KH02 ', N'Nguyễn Thị Thanh Thúy', CAST(N'1997-11-08' AS Date), N'thanhthuyxinhdep@gmail.com', N'Nữ', N'19 Tôn Đản, Quận 4', N'0978326150 ')
GO
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L01  ', N'PANTS')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L02  ', N'SHORTS')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'L03  ', N'DENIM')
GO
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENNCC], [DCHI], [SDT]) VALUES (N'CC01 ', N'Công Ty TNHH Một Thành Viên', N'351/7 Lê Văn Sỹ, P.13, Q.3, Tp.Hồ Chí Minh', N'0938687118 ')
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENNCC], [DCHI], [SDT]) VALUES (N'CC02 ', N'Công Ty TNHH May Mặc Dony', N'Cầu Giấy, Hà Nội', N'0978699999 ')
INSERT [dbo].[NHACUNGCAP] ([MACC], [TENNCC], [DCHI], [SDT]) VALUES (N'CC03 ', N'Công Ty TNHH May Mặc Việt Tiến', N'18 Trần Hưng Đạo, Mỹ Thới, Tp.Long Xuyên, An Giang', N'0975617511 ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [NGAYSINH], [GTINH], [DCHI], [SDT], [USERNAME], [PASSW]) VALUES (N'NV000', N'Điền', N'Dev', CAST(N'2001-10-09' AS Date), N'Nam', N'bến tre', N'0814977747 ', N'dien                                              ', N'123                                               ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [NGAYSINH], [GTINH], [DCHI], [SDT], [USERNAME], [PASSW]) VALUES (N'NV01 ', N'Bùi Đức Huy', N'CHỦ SHOP', CAST(N'1995-09-16' AS Date), N'Nam', N'18 Bình Long, Q.Tân Phú', N'0903999111 ', N'huy                                               ', N'123                                               ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [NGAYSINH], [GTINH], [DCHI], [SDT], [USERNAME], [PASSW]) VALUES (N'NV02 ', N'Trần Văn Hiền', N'QUẢN LÍ', CAST(N'2000-10-03' AS Date), N'Nam', N'18 Trường Sơn, Q.Tân Phú', N'0907888333 ', N'hien                                              ', N'123                                               ')
GO
INSERT [dbo].[NHAPHANG] ([MANH], [MACC], [NGAYNHAP]) VALUES (N'NH01 ', N'CC01 ', CAST(N'2020-10-17' AS Date))
INSERT [dbo].[NHAPHANG] ([MANH], [MACC], [NGAYNHAP]) VALUES (N'NH02 ', N'CC03 ', CAST(N'2020-06-12' AS Date))
INSERT [dbo].[NHAPHANG] ([MANH], [MACC], [NGAYNHAP]) VALUES (N'NH03 ', N'CC05 ', CAST(N'2020-07-19' AS Date))
GO
INSERT [dbo].[PHANQUYEN] ([IDQUYEN], [TENQUYEN], [LOAIQUYEN], [MANV]) VALUES (N'ID1  ', N'Quyền quản trị hệ thống', N'Admin', N'NV01 ')
INSERT [dbo].[PHANQUYEN] ([IDQUYEN], [TENQUYEN], [LOAIQUYEN], [MANV]) VALUES (N'ID2  ', N'Qu?n lí', N'Admin', N'NV02 ')
INSERT [dbo].[PHANQUYEN] ([IDQUYEN], [TENQUYEN], [LOAIQUYEN], [MANV]) VALUES (N'ID3  ', N'Nhân viên thu ngân', N'Cashier', N'NV03 ')
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MACC], [TENSP], [GIABAN], [SIZE], [CHATLIEU], [MAUSAC], [SOLUONGTON], [MOTASP], [HINH]) VALUES (N'SP001', N'L01  ', N'CC01 ', N'Áo thun trơn', 30000, 30, N'coton', N'black', 100, N'áo thun mát mẻ', NULL)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MACC], [TENSP], [GIABAN], [SIZE], [CHATLIEU], [MAUSAC], [SOLUONGTON], [MOTASP], [HINH]) VALUES (N'SP002', N'L04  ', N'CC01 ', N'Áo Polo ', 110000, 30, N'Coton', N'dark blue', 50, N'Áo thun mát mẻ', NULL)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MACC], [TENSP], [GIABAN], [SIZE], [CHATLIEU], [MAUSAC], [SOLUONGTON], [MOTASP], [HINH]) VALUES (N'SP003', N'L01  ', N'CC01 ', N'Quần dài', 100000, 29, N'jeans', N'black', 10, N'perfect', NULL)
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [fk_CTHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [fk_CTHD]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [fk_CTHD2] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [fk_CTHD2]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [fk_CTNH1] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAPHANG] ([MANH])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [fk_CTNH1]
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD  CONSTRAINT [fk_CTNH2] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG] CHECK CONSTRAINT [fk_CTNH2]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk_HD] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk_HD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD2] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD2]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [fk_NH] FOREIGN KEY([MACC])
REFERENCES [dbo].[NHACUNGCAP] ([MACC])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [fk_NH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [fk_DN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [fk_DN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [fk_SP2] FOREIGN KEY([MACC])
REFERENCES [dbo].[NHACUNGCAP] ([MACC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [fk_SP2]
GO
